@import "../../styles/default/variables";

.link {
  display: flex;
  align-content: center;

  &:hover {
    text-decoration: none;
  }
}

.image {
  width: 24px;
  height: 24px;
  border-radius: $border-rounded-border-radius;
  background: $global-muted-background;
}

.activity-indicator {
  margin-left: -$margin-small-margin;
}